:root {
  --default-text-color: #90b7ee;
}

body {
  margin: 0;
  background-color: #0c0c1c;
  font-family: "Waiting for the Sunrise", cursive;
  color: var(--default-text-color);
  text-align: center;
  font-size: calc(15 * var(--scaled-vh));
}

.window-height {
  height: 100vh;
}

.content-height {
  height: calc(100 * var(--scaled-vh));
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-contents {
  height: 90%;
}

.section-header {
  font-size: 50%;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: calc(2.5 * var(--scaled-vh));
}

.section-body-img {
  height: calc(80 * var(--scaled-vh));
}

#adventure-awaits {
  display: none;
}

#scroll-button {
  position: fixed;
  height: calc(20 * var(--scaled-vh));
  width: calc(9 * var(--scaled-vh));
  right: calc(2 * var(--scaled-vh));
  bottom: calc(2 * var(--scaled-vh));
  cursor: pointer;
  display: none;
}

#scroll-button-text {
  margin: 0;
  line-height: 85%;
  font-size: 32%;
}

#arrow {
  transform: rotate(90deg)
    translate(calc(-9 * var(--scaled-vh)), calc(1 * var(--scaled-vh)));
  width: calc(11 * var(--scaled-vh));
  fill: var(--default-text-color);
}

.star {
  font-family: "Sue Ellen Francisco", cursive;
}

.text-line {
  margin: 0;
  line-height: 140%;
}

.appearing-block {
  opacity: 0;
}

.small-text {
  font-size: 50%;
}

.parenthetical {
  margin-top: calc(3 * var(--scaled-vh));
}

.nGY2ViewerContainer {
  font-size: 16pt;
}

.nGY2ViewerAreaPrevious {
  margin-left: 50px;
}

.nGY2ViewerAreaNext {
  margin-right: 50px;
}

.nGY2ViewerToolsTopRight {
  margin-right: 10px;
  font-size: 12pt;
}

#merry {
  color: #d22d2d;
}

#christmas {
  color: #04a232;
}
