body {
  background-color: #172121;
  font-family: "Waiting for the Sunrise", cursive;
  color: #b8d3ee;
  text-align: center;
  font-size: 15vh;
}

.window-height {
  height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-contents {
  height: 90%;
}

.section-header {
  font-size: 50%;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 2.5vh;
}

.section-body-img {
  height: 80vh;
}

#scroll-button {
  position: fixed;
  height: 12vh;
  right: 2vh;
  bottom: 2vh;
  font-size: 50%;
  padding: 1vh;
  transform: translateX(-3vh);
  cursor: pointer;
  display: none;
}

@font-face {
  font-family: "PW Small Icons";
  src: url("/static/PWSmallIcons.ttf");
}

#arrow {
  display: inline-block;
  transform: scale(-1, 1) translate(1vh, 3vh);
  font-family: "PW Small Icons", cursive;
}

.star {
  font-family: "Sue Ellen Francisco", cursive;
}

.text-line {
  margin: 0;
  line-height: 140%;
}

.appearing-block {
  opacity: 0;
}

.small-text {
  font-size: 50%;
}

.parenthetical {
  margin-top: 3vh;
}

.nGY2ViewerContainer {
  font-size: 16pt;
}

.nGY2ViewerAreaPrevious {
  margin-left: 50px;
}

.nGY2ViewerAreaNext {
  margin-right: 50px;
}

.nGY2ViewerToolsTopRight {
  margin-right: 10px;
  font-size: 12pt;
}
