body {
  background-color: #0c0c1c;
  font-family: "Waiting for the Sunrise", cursive;
  color: #90b7ee;
  text-align: center;
  font-size: 15vh;
}

.window-height {
  height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-contents {
  height: 90%;
}

.section-header {
  font-size: 50%;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 2.5vh;
}

.section-body-img {
  height: 80vh;
}

#scroll-button {
  position: fixed;
  height: 20vh;
  width: 9vh;
  right: 2vh;
  bottom: 2vh;
  cursor: pointer;
  display: none;
}

#scroll-button-text {
  margin: 0;
  line-height: 85%;
  font-size: 32%;
}

#arrow {
  transform: rotate(90deg) translate(-9vh, 1vh);
  width: 11vh;
  fill: #90b7ee;
}

.star {
  font-family: "Sue Ellen Francisco", cursive;
}

.text-line {
  margin: 0;
  line-height: 140%;
}

.appearing-block {
  opacity: 0;
}

.small-text {
  font-size: 50%;
}

.parenthetical {
  margin-top: 3vh;
}

.nGY2ViewerContainer {
  font-size: 16pt;
}

.nGY2ViewerAreaPrevious {
  margin-left: 50px;
}

.nGY2ViewerAreaNext {
  margin-right: 50px;
}

.nGY2ViewerToolsTopRight {
  margin-right: 10px;
  font-size: 12pt;
}

#merry {
  color: #d22d2d;
}

#christmas {
  color: #04a232;
}
